---
layout: default
title: Blog
permalink: /blog/
---

		<section class="banner clearfix">
			<div class="banner-inner">
				<div class="ban-image innr-pg">
					<img src="{{site.baseurl}}/images/innr-ban6.jpg" alt="" />
				</div>
				
					<div class="banner-caption inner-caption">
						<div class="container">
						<h2>blog</h2>
					</div>
				</div>
			</div>
		</section>
		<!-- banner -->
		
		
	<!-- nws-section -->
	<section class="nwsletter-section">
		<div class="container">
			<div class="head">
				<h2>signup form for the newsletter</h2>
			</div>
			<div class="news-inner">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at lorem sem. Nulla eget <br/>urna sed libero blandit lobortis. Suspendisse eu arcu, non eleifend arcu.</p>
				<form>
					<div class="form-innr">
						<input type="email" placeholder="EMAIL" class="nws-field" />
						<input type="submit" value="Sign up" class="signup" />
					</div>
				</form>
			
			</div>
		</div>
	</section>
<!-- nws-section -->

	
	<section class="bg-pg-section">
		<div class="container">
			<!-- <div class="head">
				<h2>featured blog post</h2>
			</div> -->
			
			<div class="row">
				<div class="col-lg-8 col-sm-8">
					
					<div class="blog-inner">
				{% for post in site.posts %}
					 <div class="col-lg-6 col-sm-6">
						<div class="post-box">
							<div class="blg-image">
								<div class="vdo-sec">
									{% if post.youtube %}
									<a class="fancybox-media" href="{{ post.youtube}}"> 
										<span class="vdo-icon"><img src="{{site.baseurl}}/images/yt-btn.png" alt="" /></span> 							
										{% endif %}
										<img src="{{site.baseurl}}/images/{{ post.img }}" alt="" />
									</a>
								</div>
							<h2>Posted on {{ post.date | date_to_string }} {% if post.author %}by {{ post.author}}{% endif %}</h2>

							</div>
							
							<div class="post-content">
								<div class="bg-post-text">
								<h3>{{ post.title }} </h3>
								<p>{{ post.content | strip_html | truncatewords:15}}</p>
								</div>
								 <a href="{{ post.url }}" class="read-btn">Read more</a>  
								</div>
						</div>
						</div>
						{% endfor %}
					</div>

				</div>
				
				<div class="col-lg-4 col-sm-4">
					<div class="right-bg">
						<div class="search-box">
							<input type="text" class="search-field" placeholder="Search" />
							<input value="" type="submit" class="search-icon"/>
						</div>
						
						<div class="post-cat">
							<div class="side-heading">
								<h3>post categories</h3>
							</div>											
							<ul>
								{% for tag in site.tags %}
								<li><a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a></li>
								 {% endfor %}
							</ul>
						</div>
						
						<div class="twitter">
							<div class="side-heading">
								<h3>Twitter feed</h3>
							</div>

							
							
							<div class="tweet">
								<div class="tw-icon"><img src="{{site.baseurl}}/images/tweet.png" alt=""/></div>
								<div class="t-cont">
									<blockquote class="embedly-card"><h4><a href="https://twitter.com/goutamsrajak">Goutam Sarkar (@goutamsrajak) | Twitter</a></h4><p>The latest Tweets from Goutam Sarkar (@goutamsrajak): "demo http://35.154.195.114/gallery/index.php/2017/04/03/demo/ https://t.co/eH8OMPAGWw"</p></blockquote>
						        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
							
								</div>
							</div>
						</div>
						
						<!-- <div class="latest-photo">
							<div class="side-heading">
								<h3>latest-photo</h3>
							</div>
							
							<div class="gallery-outer">
							<div class="gall">
								<img src="{{site.baseurl}}/images/side-img1.jpg" alt=""/>
								<img src="{{site.baseurl}}/images/side-img2.jpg" alt=""/>
								<img src="{{site.baseurl}}/images/side-img3.jpg" alt=""/>
								<img src="{{site.baseurl}}/images/side-img4.jpg" alt=""/>
							</div>
							</div>
						</div> -->
						
						
					</div>	
						
				</div>
			</div>
		</div>
	</section>	
