
<!-- <header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>ef</span>{% endif %}</a>
  <nav class="main_menu">
    <a href="{{site.baseurl}}/about/">About</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </nav>
</header> End Section Header -->
		<header class="main_header">
				<div class="container">
					
					<a href="{{site.baseurl}}/" class="logo wow zoomIn"><img src="{{site.baseurl}}/images/logo.png" alt=""/></a>							
						<div class="navigation">
						{% assign current = page.url | downcase | split: '/' %}

<nav class="navbar">
	<!-- toggle for better mobile display -->
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
 							<div class="collapse navbar-collapse top-nav" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
							    <li><a href='{{site.baseurl}}/' {% if current[1] == 'home' %}class='current'{% endif %}>Home</a></li>
							    <li><a href='/blog' {% if current[1] == 'blog' %}class='current'{% endif %}>blog</a></li>
							    <li><a href='/product' {% if current[1] == 'product' %}class='current'{% endif %}>product</a></li>
							  </ul>
							</nav>
							</div>
							
							<a href="{{site.baseurl}}/contact" class="ban-btn">Request a demo</a>
						</div>
				</div><!-- container -->
			</header>
