
<!-- <header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>ef</span>{% endif %}</a>
  <nav class="main_menu">
    <a href="{{site.baseurl}}/about/">About</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </nav>
</header> End Section Header -->
		<header class="main_header">
				<div class="container">
					
					<a href="{{site.baseurl}}/" class="logo wow zoomIn"><img src="{{site.baseurl}}/images/logo.png" alt=""/></a>					
					
						<div class="navigation">
<nav>
  {% for item in site.navigation %}
      {% assign class = nil %}
      {% if page.url contains item.url %}
          {% assign class = 'active' %}
      {% endif %}
      <a href="{{ item.url }}" class="{{ class }}">
          {{ item.title }}
      </a>
  {% endfor %}
</nav>
						
							
							<a href="{{site.baseurl}}/contact" class="ban-btn">Request a demo</a>
						</div>
				</div><!-- container -->
			</header>
