<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div class="ftr_cont">
                                 <h4>NewsLetter</h4>
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                 </p>
                                 <form action="//hih7.us12.list-manage.com/subscribe/post?u=9817c6488d95b5d0bc15afb2e&amp;id=ea40caeae6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				     <input type="email" placeholder="Email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                 </form>
</div>
