---
layout: default
---

		<section class="banner clearfix">
			<div class="banner-inner">
				<div class="ban-image innr-pg">
					<img src="images/innr-ban6.jpg" alt="" />
				</div>
				
					<div class="banner-caption inner-caption">
						<div class="container">
						<h2>blog details</h2>
					</div>
				</div>
			</div>
		</section>
		<!-- banner -->
		
		
	<!-- nws-section -->
	<!-- <section class="nwsletter-section">
		<div class="container">
			<div class="head">
				<h2>signup form for the newsletter</h2>
			</div>
			<div class="news-inner">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at lorem sem. Nulla eget <br/>urna sed libero blandit lobortis. Suspendisse eu arcu, non eleifend arcu.</p>
				<form>
					<div class="form-innr">
						<input type="email" placeholder="EMAIL" class="nws-field" />
						<input type="submit" value="Sign up" class="signup" />
					</div>
				</form>
			
			</div>
		</div>
	</section> -->
<!-- nws-section -->

	
	<section class="bg-pg-section">
		<div class="container">
			<!-- <div class="head">
				<h2>featured blog post</h2>
			</div> -->
			
			<div class="row">
				<div class="col-lg-8 col-sm-8">
					
					<div class="blog-inner">
						<div class="post-box">
							<div class="blg-image">
								<div class="vdo-sec">
									<a class="fancybox-media" href="https://youtu.be/EDMun9BtSwM"> <img src="images/blg-video1.jpg" alt="" /> 
										<span class="vdo-icon"><img src="images/yt-btn.png" alt="" /></span> 
									</a>
								</div>
								<!-- <h2>Posted on 13th Jan,2017 by Admin</h2> -->
							</div>
							
							<div class="post-content">
								<h3>Nulla pharetra, ligula quis semper tristique. </h3>
								<p>Pellentesque leo est, accumsan vel sapien sed, bibendum maximus ipsum. Ut posuere urna id tellus dapibus ultrices. Interdum et malesuada 
								   fames ac ante ipsum primis in faucibus. Vestibulum gravida sem elit.bibendum maximus ipsum. Ut posuere urna id tellus dapibus ultrices. Interdum et malesuada 
								   fames ac ante ipsum primis in faucibus. Vestibulum gravida sem elit</p>
								<p>Pellentesque leo est, accumsan vel sapien sed, bibendum maximus ipsum. Ut posuere urna id tellus dapibus ultrices. Interdum et malesuada 
								   fames ac ante ipsum primis in faucibus. Vestibulum gravida sem elit.Pellentesque leo est, accumsan vel sapien sed, bibendum maximus ipsum. Ut posuere urna id tellus dapibus ultrices. Interdum et malesuada 
								   fames ac ante ipsum primis in faucibus.</p>   
								   
								
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-sm-4">
					<div class="right-bg">
						<div class="search-box">
							<input type="text" class="search-field" placeholder="Search" />
							<input value="" type="submit" class="search-icon"/>
						</div>
						
						<div class="post-cat">
							<div class="side-heading">
								<h3>post categories</h3>
							</div>
							
							<ul>
								<li><a href="javascript:void(0);">Business Post</a></li>
								<li><a href="javascript:void(0);">Consulting</a></li>
								<li><a href="javascript:void(0);">Management</a></li>
								<li><a href="javascript:void(0);">Customer Insights</a></li>
								<li><a href="javascript:void(0);">Organization</a></li>
							</ul>
						</div>
						
						<div class="twitter">
							<div class="side-heading">
								<h3>Twitter feed</h3>
							</div>
							
							<div class="tweet">
								<div class="tw-icon"><img src="images/tweet.png" alt=""/></div>
								<div class="t-cont">
									<h4>Twitter API <span>@twitterapi</span></h4>
									<p>Etiam sed orci tincidunt, tincidunt felis in, consequat </p>
									<a href="javascript:void(0);">http.twittercommunity.com</a>
								</div>
							</div>
							
							<div class="tweet">
								<div class="tw-icon"><img src="images/tweet.png" alt=""/></div>
								<div class="t-cont">
									<h4>Twitter API <span>@twitterapi</span></h4>
									<p>Etiam sed orci tincidunt, tincidunt felis in, consequat </p>
									<a href="javascript:void(0);">http.twittercommunity.com</a>
								</div>
							</div>
						</div>
						
						<!-- <div class="latest-photo">
							<div class="side-heading">
								<h3>latest-photo</h3>
							</div>
							
							<div class="gallery-outer">
							<div class="gall">
								<img src="images/side-img1.jpg" alt=""/>
								<img src="images/side-img2.jpg" alt=""/>
								<img src="images/side-img3.jpg" alt=""/>
								<img src="images/side-img4.jpg" alt=""/>
							</div>
							</div>
						</div>
						 -->
						
					</div>	
						
				</div>
			</div>
		</div>
	</section>	
